@model List<MVCCrud.Models.View_models.Empleadosviewmodels>
@{
    ViewBag.Title = "Mis datos";
}

<h2>ViewBag.Title</h2>


<div class="row" style="text-align:right;padding:5px;">
    <a href="~/Empleados/Crear" class="btn btn-primary">Crear </a>
</div>
<div class="row">
    <div class=" col-md-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Cargo</th>
                <th>FechaContratacion</th>
                <th>TipoContrato</th>           
                <th></th>

            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.Id</td>
                    <td>@oElemento.Cargo</td>
                    <td>@oElemento.FechaContratacion</td>
                    <td>@oElemento.TipoContratacion</td>
                    <td>
                        <a class="btn btn-default" href="~/Empleados/Editar/@oElemento.Id">Editar</a>
                        <a class="btn btn-danger" href="~/Empleados/Eliminar/@oElemento.Id">Eliminar</a>
                    </td>

                </tr>
            }
        </table>

    </div>


</div>
