@model List<MVCCrud.Models.View_models.HistoriaClinicaviewmodels>
@{
    ViewBag.Title = "Mis datos";
}

<h2>ViewBag.Title</h2>


<div class="row" style="text-align:right;padding:5px;">
    <a href="~/HistoriaClinica/Crear" class="btn btn-primary">Crear </a>
</div>
<div class="row">
    <div class=" col-md-12">
        <table class="table">
            <tr>
                <th>IdMascota</th>
                <th>Emfermedades</th>
                <th>Vacunas</th>
                <th>Peso</th>
                <th></th>

            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.IdMascota</td>
                    <td>@oElemento.Emfermedades</td>
                    <td>@oElemento.Vacunas</td>
                    <td>@oElemento.Peso</td>
                    <td>
                        <a class="btn btn-default" href="~/HistoriaClinica/Editar/@oElemento.Id">Editar</a>
                        <a class="btn btn-danger" href="~/HitoriaClinica/Eliminar/@oElemento.Id">Eliminar</a>
                    </td>

                </tr>
            }
        </table>

    </div>


</div>
