@{
    ViewBag.Title = "Login";
}
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

<form class="formulario">
    <center><h1>Regístrate</h1></center>
    <center>
        <div class="contenedor"
        <div class="input-contenedor">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Nombre Completo"
        </div>

        <div class="input-contenedor">
          <i class="fas fa-envelope"></i>
          <input type="text" placeholder="Correo electrónico"
        </div>

        <div class="input-contenedor">
        <i class="fas fa-key"></i>
          <input type="password" placeholder="Contraseña"
        </div>




        <input type="submit" value="Regístrate" class="button-login">
        <br>
        <p>Ya tienes una cuenta?<a class="link" href="">Iniciar Sesion</a></p>
        <br>
        <label><input type="checkbox" id="Terminos">Acepto <n>Términos</n> y <n>Condiciones</n>
      </div>

</form>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>