@{
    ViewBag.Title = "Login";
}

<div class="login text-center ">
    <table align="center" style="text-align:right" border="0" class="auto-style1">

        <tr>
            <td>
            <TD>
                <div class="text align-center">
                    <BR>
                    <h3>Ingreso para usuarios</h3><br>
                    <label class="h3">Nombre de usuario </label><br>

                    <input type="text" name="password" placeholder="Ingrese su usuario">
                    <br><br>

                    <label class="h3 w-100">Ingrese su contraseña</label><br>

                    <input type="password" placeholder="Ingresa tu contraseña" />
                    <br><br>
                    <input type="submit" name"ingresar" value="ingresar" />
                </div>
            </TD>
        </tr>
    </table>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>