@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-10">
        <h2 class="text-center"> Quienes somos </h2>
        <p>
            <div class="col-md-16>
                
        <p class="text-center">

            Nuestro aplicativo facilita la gestión web de facturación, gastos, historial clínico de los pacientes, asi la información estara disponible en todo momento. Además, de la implementación de un dispositivo que el paciente porta (un collar o etiqueta con código QR) de fácil acceso que almacene los datos del paciente y esté sincronizado con la IPS veterinaria. Esta información puede ser consultada con diferentes roles (médico veterinario, dueño de la mascota).
        </p>
        <h2 class="text-center"> Mision </h2>

        <p>
            Nuestra misión es organizar la información para facilitar los datos a todas las veterinarias sobre las mascotas y los dueños
        </p>
        <h2 class="text-center"> Visión </h2>
        <p> Darnos a conocer como el programa pionero digital para manejar estos datos intangibles a todo el mundo veterinario</p>
        <h2 class="text-center"> Objetivos empresariales </h2>
        <p> - Gestionar la historia clinica de los pacientes para facilitar el diagnostico y tratamiento  de los pacientes</p>
        <p> - Consultar datos del paciente a traves de un collar QR para emergencias</p>

        </p>


    </div>

    </p>

</div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>